gradio
requests
openai
moviepy
python-dotenv
pydub
fpdf
python-docx
torch
Pillow
PyMuPDF
groq
opencv-python
sentence-transformers
tqdm
httpx
httpcore
loguru
edge-tts
faster-whisper
transformers
pydub
diffusers
huggingface_hub
